.dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.isotipo-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(30%, -50%);
  z-index: -1;

}

.isotipo {
  /* width: 300px; */
  height: auto;
  opacity: 0.1;
}

.dashboard-content {
  flex: 1;
  padding: 32px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.page-container {
  width: 100%;
}

@media (max-width: 768px) {
  .dashboard-content {
    padding: 20px 16px;
  }
}
